.prose {
	font-size: var(--font-size-fluid-1);
	line-height: var(--font-lineheight-4);
	font-weight: 300;
	margin-inline: auto;
	width: 100%;
	max-width: var(--size-content-3);
	letter-spacing: var(--font-letterspacing-1);
	color: var(--text-2);

	& > p {
		margin-top: var(--size-3);
		margin-bottom: var(--size-3);
		max-inline-size: inherit;
	}

	& > hr {
		margin-block: var(--size-7);
		background-color: var(--surface-2);
	}

	& > h2 {
		margin-top: var(--size-8);
		margin-bottom: var(--size-3);
		font-size: var(--font-size-fluid-2);
		font-weight: var(--font-weight-4);
		--tw-text-opacity: 1;
		color: var(--text-1);
	}

	& h3 {
		margin-top: var(--size-8);
		margin-bottom: var(--size-3);
		font-family: var(--font-sans);
		font-size: var(--font-size-fluid-1);
		line-height: var(--size-7);
		font-weight: var(--font-weight-4);
		color: var(--text-1);
	}

	& > img {
		margin-block: var(--size-3);
	}

	& strong {
		font-weight: var(--font-weight-5);
	}

	& ul {
		margin-block: var(--size-3);
		padding-inline-start: var(--size-7);
		list-style-type: none;

		& li {
			max-inline-size: inherit;
			&:before {
				content: "✨";
				display: inline-block;
				width: 10px;
				height: 10px;
				margin-right: 18px;
				margin-left: -28px;
			}
		}
	}
}

.prose ol {
	margin-top: var(--size-3);
	margin-bottom: var(--size-3);
	list-style-position: inside;
	list-style-type: decimal;
	padding-inline-start: var(--size-3);
}

.prose ol ::marker {
	display: inline-block;
	font-family: var(--font-mono);
	font-weight: var(--font-weight-7);
	color: var(--brand);
}

.prose li {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.prose :where(a) {
	display: inline-block;
	font-weight: var(--font-weight-7);
	color: var(--link);
	text-decoration-line: underline;
	text-underline-offset: 2px;
}

.prose :where(a):hover {
	text-decoration-line: none;
}

.prose > p code {
	margin-left: 0.125rem;
	margin-right: 0.125rem;
	display: inline-block;
	border-radius: 0.5rem;
	--tw-bg-opacity: 1;
	background-color: rgb(52 56 65 / var(--tw-bg-opacity));
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	vertical-align: baseline;
	font-size: 0.875rem;
	line-height: 1.5rem;
	--tw-text-opacity: 1;
	color: rgb(242 246 250 / var(--tw-text-opacity));
}

.prose > pre {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	border-radius: 0.375rem;
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: rgb(84 88 100 / var(--tw-border-opacity));
	background-color: transparent;
	padding: 0.75rem 1.25rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
}
