---
import BaseHead, { type Props as HeadProps } from "~/components/BaseHead.astro";
import SkipLink from "~/components/SkipLink.astro";
import Header from "~/components/Header.astro";
import "~/styles/global.css";

export type Props = HeadProps;

const { ...head } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead {...head} />
	</head>
	<body>
		<SkipLink text="Skip to main content" />
		<Header />
		<slot />
		<style>
			html.disclosure-open {
				overflow-y: hidden;
			}

			html.disclosure-open #nav {
				overflow-y: auto;
			}
		</style>
	</body>
</html>
